body {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  background-image: url(../img/home.jpg);
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

}

h1 {
  font-size: 40px;
  margin: 0 0 -10px 0;
}

.sub {
  font-size: 30px;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0 10px;
}

li {
  display: inline-block;
}

.box {
  height: 380px;
  width: 1120px;
  background-color: #0f1d0f;
  margin: 0 auto;
  border-radius: 4px;
  border: solid 3px #000;
}

.label {
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐ明朝", "MS PGothic", sans-serif;
  height: 78px;
  color: #c7c7c7;
  text-align: center;
  padding: 10px 0;
}

.time-box {
  background-color: #000;
  padding: 24px 45px;
  margin: 0 8px;
  border-radius: 3px;
  border-top: solid 1px #222;
  border-bottom: solid 1px #222;
}

.first {
  font-size: 50px;
  background-color: #0c0b0b;
  height: 70px;
  margin-bottom: 6px;
  line-height: 70px;
}

.second {
  font-size: 50px;
  background-color: #0c0b0b;
  height: 70px;
  line-height: 70px;
}

.type {
  text-align:left;
  width: 385px;
  margin-left: 10px;
  margin-right: 100px;
}

.ja {
  display: inline-block;
}

.us {
  display: none;
}

.time {
  width: 140px;
}

.goal {
  margin-right: 10px;
}
